@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="lead">
    <h3>@ViewBag.Message</h3>
</div>

<br/>
<br />
<div class="lead">
    <dl>
        The company is providing the following services in the area of sub-transmission and distribution:
    </dl>
           
            <ul>
                <li>Turnkey execution</li>
                <li>Project Monitoring, Quality Assurance and Inspection</li>
                <li>Third party quality inspection on behalf of utility</li>
                <li>Consultancy Assignments</li>
            </ul>
        
    
</div>

<br />
<br />
<div class="lead">
    <dl>
        Our Vision
    </dl>
    <div class="well">
        To deliver quality power to the Nation by creating models of excellence and benchmarks in electricity distribution thereby achieving customer delight
        </div>
    </div>