@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    Room No. 220<br />
    NTPC R&D Building<br />
    Sector - 24,<br/>
    Noida, U.P.<br/>
    India<br/>
    PIN: 201301<br/>
    <abbr title="Phone">P:</abbr>
    +91 120 259 7379
</address>

<address>
    <!--<strong> Noida, Tel: </strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>